.home-page-main {
    display: grid;
    grid-template-columns: 4.8fr 15fr 1.8fr 6.4fr 4.6fr;
    grid-template-rows: 50px 4fr 4.2fr 1.8fr;
}

//Chart
.portfolio-chart-main {
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
}

.portfolio-chart-price h3 {
    font-size: 13px;
}

.portfolio-chart-time-tags {
    margin-top: 15px;
    display: flex;
    flex-direction: horizontal;
}

.portfolio-chart-time-tags li{
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer;
    list-style: none;
}

.portfolio-chart-time-tags > li > a:hover{
    color: $green;
}

.stock-chart-time-tags {
    margin-top: 15px;
    display: flex;
    flex-direction: horizontal;
}

.stock-chart-time-tags li{
    margin-right: 25px;
    font-size: 14px;
    cursor: pointer;
    list-style: none;
}

.stock-chart-time-tags > li > a:hover{
    color: $green;
}

//Sidebar
.portfolio-sidebar-main {
    grid-row: 2 / 4;
    grid-column: 4;
    display: block;
    box-shadow: 1px 0px 49px -1px rgba(0,0,0,0.75);
}

.portfolio-sidebar-title {
    height: 35px;
    border-bottom: 1px solid $black;
}

.portfolio-sidebar-title > p{
    font-size: calc(0.3em + 0.8vw);
    margin-left: 1.63vw;
    margin-top: 1vw;
}

.portfolio-stock-entry {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid $black;
}

.portfolio-stock-entry:hover {
    background: $black;
}

.portfolio-stock-and-shares, .w {
    grid-column: 1;
    background: inherit;
    font-size: calc(0.3em + 0.7vw);
}

.p1, .p2, .w{
    margin-left: 1.63vw;
    background: inherit;
}

.p2 {
    font-size: calc(0.2em + 0.6vw);
}

.portfolio-stock-daily-chart {
    grid-column: 2;
    background: inherit;
    justify-self: center;
}

.portfolio-stock-price {
    grid-column: 3;
    margin-right: 1vw;
    background: inherit;
    justify-self: center;
    font-size: calc(0.3em + 0.7vw);
}

//News Feed
.portfolio-news-main {
    grid-row: 3 / -1;
    grid-column: 2 / 3;
}

.portfolio-news-section-title {
    margin-left: 30px;
    font-size: 28px;
}

.news-feed {
    height: 500px;
}

.news-line-item {
    height: 100px;
    display: grid;
    grid-template-columns: 2.7fr 8fr;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
}

.news-line-item:hover {
    background: $black;
}

.news-photo {
    margin-left: 5px;
    grid-column: 1;
    height: 90px;
    width: 150px;
    align-self: center;
    justify-self: center;
}

.news-content {
    margin-left: 20px;
    grid-column: 2;
    display: block;
    overflow-wrap: normal;
    background: inherit;
}

.news-article-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    background: inherit;
}

.news-article-description {
    font-size: 14px;
    font-weight: 300;
    background: inherit;
}