.home-page {
    display: flex;
}

.home-page-chart-price {
    margin-left: 200px;
    margin-top: 60px;
    font-size: 25px;
}

.portfolio-chart {
    margin-top: 125px;
    stroke: $green;
    margin-left: 200px;
}