//Stock Sidebar
.stock-sidebar-main {
    grid-row: 2 / 3;
    grid-column: 4;
    display: block;
    box-shadow: 1px 0px 49px -1px rgba(0,0,0,0.75);
}

.buy-sell-option {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 30px;
    font-size: calc(0.5em + 0.7vw);
}

.buy-word {
    color: $green;
    cursor: pointer;
    font-size: inherit;
}

.sell-word {
    color: $red;
    cursor: pointer;
    font-size: inherit;
}

.stock-shares-input {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
}

.stock-shares-input > label {
    font-size: calc(0.3em + 0.7vw);
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.stock-shares-input > label > input {
    background: $black;
    padding: 5px 10px;
    width: 5.5vw;
    height: 2em;
    color: $white;
    cursor: text;
    text-align: right;
    font-size: calc(0.3em + 0.7vw);
    border-radius: 4px;
}

.stock-shares-input > label > input:hover {
    border: 1px solid lightgray;
}

.stock-shares-input > label > input:focus {
    border: 1px solid lightgray;
}

.stock-market-price {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.market-price-word {
    margin-left: 20px;
    font-size: calc(0.3em + 0.7vw);
}

.market-price-price {
    margin-right: 30px;
    font-size: calc(0.3em + 0.7vw);
}

.estimated-cost {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.estimated-cost-word {
    margin-left: 20px;
    font-size: calc(0.3em + 0.7vw);
}

.estimated-cost-cost {
    margin-right: 30px;
    font-size: calc(0.3em + 0.7vw);
}

.place-order-btn {
    margin-left: 20px;
    margin-top: 35px;
    padding: 17.5px 80px;
    font-size: calc(0.3em + 0.7vw);
    border-radius: 4px;
}

.buying-power {
    font-weight: 500;
    font-size: calc(0.2em + 0.7vw);
    margin-top: 30px;
    margin-left: 20px;
}